<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Price prueba{% endblock %}</title>
</head>

<body>
{#
    {% set contadorPrice = 0 %} 
    {% for price in prices %}
      {% set contadorPrice = contadorPrice + 1 %}
      <div class="accordion" id="accordion{{contadorPrice}}">
            <div class="accordion-item">
                <div class="row border accordion-button col-12 container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#option{{contadorPrice}}" aria-expanded="false" aria-controls="option{{contadorPrice}}">
                    <div class="col-12 col-lg-3"><u>{{price.priceType}}</u></div>
                    <div class="col-12 col-lg-2">----</div>
                    <div class="col-12 col-lg-2"><u>{{price.currencyCode}}</u></div>
                    <div class="col-12 col-lg-2"><u>{{price.countriesIncluded}}</u></div>
                    <div class="col-12 col-lg-3"> </div>
                </div>
                <div id="option{{contadorPrice}}" class="accordion-collapse collapse" aria-labelledby="heading{{contadorPrice}}" data-bs-parent="#accordion{{contadorPrice}}">
                    <div class="accordion-body">
                        {{ render(path('accordion_price', { 'id_product': product.id, 'id_supplier': supplier.id, 'id_price': price.id, 'id_user': user.id, 'id_catalog': catalog.id} )) }}
                    </div>
                </div>
            </div>
      </div>
    {% endfor %}
    #}

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-remove-object">
                {% set contadorPrice = 0 %}
                {% for price in prices %}
                    {% set contadorPrice = contadorPrice + 1 %}
                    <a class="btn btn-remove-object" href="{{ path('delete_price', { 'id_product': product.id, 'id_user': user.id, 'id_catalog': catalog.id, 'id_supplier': supplier.id, 'id_price': price.id }) }}">Delete price{{contadorPrice}}</a>
                {% endfor %}
                </div>
            </div>
        </div>
</body>
</html>