<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tab prize{% endblock %}</title>
</head>

<body>
    <ul class="nav nav-tabs" role="tablist">
            {% set contadorPrize = 0 %} 
            {% for prize in prizes %} 
                {% set contadorPrize = contadorPrize + 1 %}
                {% if contadorPrize == 1 %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="prize{{contadorPrize}}-tab" data-bs-toggle="tab" data-bs-target="#prize{{contadorPrize}}" type="button" role="tab" aria-controls="prize{{contadorPrize}}" aria-selected="true">Prize {{contadorPrize}}</button>
                    </li>
                {% else %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="prize{{contadorPrize}}-tab" data-bs-toggle="tab" data-bs-target="#prize{{contadorPrize}}" type="button" role="tab" aria-controls="prize{{contadorPrize}}" aria-selected="false">Prize {{contadorPrize}}</button>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="nav-item li-add-object" role="presentation">
                <a class="btn btn-add-object" href="{{ path('new_prize', {'id_product': product.id, 'id_user': user.id, 'id_catalog': catalog.id}) }}" class="btn btn-light">Add new Prize</a>
            </li>
        </ul>
</body>
</html>