<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tab supply{% endblock %}</title>
</head>

<body>
    <div class="row tab">
        <ul class="nav nav-tabs" role="tablist">
            {% set contador = 0 %}
            {% for supplier in suppliers %}
                {% set contador = contador + 1 %}
                {% if contador == 1 %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="supplier{{contador}}-tab" data-bs-toggle="tab" data-bs-target="#supplier{{contador}}" type="button" role="tab" aria-controls="supplier{{contador}}" aria-selected="true">Supplier{{contador}}</button>
                    </li>
                {% else %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="supplier{{contador}}-tab" data-bs-toggle="tab" data-bs-target="#supplier{{contador}}" type="button" role="tab" aria-controls="supplier{{contador}}" aria-selected="false">Supplier{{contador}}</button>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="nav-item li-add-object" role="presentation">
                <a class="btn btn-add-object" href="{{ path('new_supplier', {'id_product': product.id, 'id_user': user.id, 'id_catalog': catalog.id}) }}" class="btn btn-light">Add new Supplier</a>
            </li>
        </ul>
        <div class="tab-content">
            {% set contador = 0 %}
            {% for supplier in suppliers %}
                {% set contador = contador + 1 %}
                <div class="tab-pane fade" id="supplier{{contador}}" role="tabpanel" aria-labelledby="supplier{{contador}}-tab">
                    {{ render(path('tab_supplier', { 'id_product': product.id, 'id_user': user.id, 'id_catalog': catalog.id, 'id_supplier': supplier.id} )) }}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>


