<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website{% endblock %}</title>
</head>

<body>   
    <form name="website_form" id="website_form_tab" method="post" action="{{ path('website', {'id_user': user.id, 'id_catalog': catalog.id, 'id_product': product.id}) }}">  
        {% set contador = 0 %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contributor website(s)</h5>
                    <div class="row general_information_content">
                        <div class="col-12">
                            <div class="row first_GI">
                                <div class="col-12 col-lg-4 inputsGI">
                                    <span>Contributor</span>
                                </div>
                                <div class="col-12 col-lg-4 inputsGI">
                                    <span>Website role</span>
                                </div>
                                <div class="col-12 col-lg-4 inputsGI">
                                    <span>Website</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row general_information_content">
                        <div class="col-12">
                            {% for contributor in formW.contributors %}
                            {% set contador = contador + 1 %}
                                <div class="row first_GI">
                                    <div class="col-12 col-lg-4 inputsGI">
                                        <span>Contributor {{ contador }}</span> 
                                    </div>
                                    <div class="col-12 col-lg-4 inputsGI">
                                        {{ form_widget(contributor.websiteRole, {'attr': {'class': 'form-select'}}) }}
                                    </div>
                                    <div class="col-12 col-lg-4 inputsGI">
                                        {{ form_widget(contributor.websiteLink, {'attr': {'class': 'form-control', 'placeholder': 'Website link', 'type':'text'}}) }}
                                    </div>
                                </div>
                            {% endfor %} 
                        </div>
                    </div> 
            </div>
        </div>
            <div class="row general_information_content">
                <div class="col-12">
                    <div class="row first_GI">
                        <div class="col-12 col-lg-4 inputsGI">
                            <span>Publisher's website role</span>
                            {{ form_widget(formW.websiteRole, {'attr': {'class': 'form-select'}}) }} 
                        </div>
                        <div class="col-12 col-lg-8 inputsGI">
                            <label class="form-label">Publisher's website link</label>
                            {{ form_widget(formW.websiteLink, {'attr': {'class': 'form-control', 'placeholder': 'Website link', 'type':'text'}}) }} 
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(formW) }} 

        {% include 'updateAddTemplates/bottomButtons.html.twig' %}
    </form>
</body>
</html>