<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Edition/Add Product{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
        <link href="{{ asset('style/edition.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="{{ asset('vendor/jquery-validation/dist/jquery.validate.js') }}"></script>
        <script src="{{ asset('vendor/jquery-validation/dist/additional-methods.js') }}"></script>

        <script src="{{ asset('js/hamburguerMenu.js') }}"></script>
        <script src="{{ asset('js/validation.js') }}?v=137"></script>
        <script src="{{ asset('js/showLabelsInputs.js') }}"></script>
        <script src="{{ asset('js/hamburguerMenu.js') }}"></script>
        <script src="{{ asset('js/changeButtonsClick.js') }}"></script>
        <script src="{{ asset('js/select2.js') }}"></script>

        <script src="{{ asset('js/changeKN_contributor.js') }}?v=157"></script>
        <script src="{{ asset('js/selectRCT_hidde_show.js') }}?v=142"></script>
        <script src="{{ asset('js/datesFields.js') }}?v=131"></script>

        <script src="{{ asset('js/titleBE.js') }}?v=136"></script>
        <script src="{{ asset('js/subjectAudience.js') }}?v=10"></script>
    {% endblock %}
</head>

<body>
    <!--Navigation menu-->
        {% include 'common/menu.html.twig' %}
    <!---->

    <div class="container-fluid"> 
            <!--Basic edition-->
                {{ render(path('basic_edition', { 'id_product': product.id, 'id_user': user.id, 'id_catalog': catalog.id } )) }}
            <!---->
    </div>
</body>
</html>